<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10 mt-10">

        <table class="table mt-5">
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              <tr>
                <th scope="row">
                    <img src=\assets\imagen\dc-logo.jpg height="400">
                </th>
                    <p class="fs-4 marginleft fw-bold margintop">UNIVERSO DC</p>
                    <p class="fs-5 marginleft">El multiverso o metaverso de DC Comics ha alojado en sus ocho décadas de historia las aventuras más épicas, íntimas o revolucionarias jamás contadas. Mil mundos paralelos, futuros apocalípticos, invasiones paradimensionales, alianzas entre distintas versiones de un mismo héroe...</p>
              </tr>
              <tr>
                <th scope="row">
                    <img src=\assets\imagen\marvel-logo.png height="400">
                </th>
                    <p class="fs-4 marginleft fw-bold margintop">UNIVERSO MARVEL</p>
                    <p class="fs-5 marginleft">Para finales del siglo pasado, el Universo Marvel contaba con más de cuarenta años de historia a sus espaldas. Con la creación del Universo Ultimate, el reloj volvió a ponerse a cero, ofreciendo una visión de los personajes mucho más moderna y atrevida con giros argumentales de lo más inesperados. Un nuevo universo cohesionado con las grandes estrellas de Marvel.</p>
              </tr>
          </table>
    </div>
    <div class="col-1">
    </div>
</div>