
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10 mt-5">
        <p class=" fs-1 fw-bold mt-5 ">Bienvenido al mundo de Marvel y DC!</p>
        <img src=\assets\imagen\MarvelDC.jpg height="800">
        <br>
        <br>
        <br>
        <p class=" fs-3">Adéntrate en el mundo de los superhéroes a través de esta web en la cual podrás encontrar información sobre los diversos personajes de Marvel y DC.</p>  
        <p class=" fs-3">¡Si aún no tienes a tu héroe preferido, encuéntralo!</p>
    </div>
    <div class="col-1">
    </div>
</div>
